body {
    background: linear-gradient(135deg, #2e1e14, #4a2f1c);
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif; 

}

.jukeboxcabinet {
    background-color: #6b3f24;
    border: 5px solid #22140b;
    border-radius: 24px 24px 8px 8px;
    width: 550px;
    padding: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.55);
}

#songlist {
    background-color: #e0d1af;
    border: 3px solid #3e2412;
    border-radius: 14px;
    list-style: none;
    padding: 10px;
    margin: 13px 0;
    max-height: 200px;
    overflow-y: auto;
}

#songlist li {
    padding: 11px 8px;
    border-bottom: 1px solid #c9a876;
    color: #3e2412;
    font-family: 'Bitter', serif;
    cursor: pointer; 
}

#songlist li:hover {
    background-color: #d6bb7f;
}

#songlist li:last-child {
    border-bottom: none;
}

h1 {
    font-family: 'Rye', serif;
}